<div class="login" fxLayout="row wrap" fxLayoutAlign="center center" style="height:100%"> 

    <!-- <div fxFlex.xs="90%" fxFlex.sm="33%">
      <mat-card class="mat-elevation-z4 card1">
        <mat-card-header fxLayoutAlign="center center">
          <mat-card-title style="color: white; text-align: center;">E Commerce</mat-card-title>
          <mat-card-subtitle style="color: white; text-align: center;">ARA Softwares</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../assets/logo white.png" fxHide.xs>
      </mat-card>
    </div> -->

    <div fxFlex="50%" fxFlex.xs="90%" fxFlex.sm="33%">

    <mat-card class="mat-elevation-z4 card2">

      <mat-card-title style="text-align: center;">
         <button mat-mini-fab disabled> 
          <mat-icon>login</mat-icon>
        </button></mat-card-title>
      <br>

      <div fxLayout="row" fxLayoutAlign="center center">
      <span style="font-size: 15pt; font-weight: bold;">Enter Your New Password!</span>
      </div>

      <form class="example-form">
        <mat-form-field class="example-full-width">
          <span matPrefix>
          <mat-icon>enhanced_encryption</mat-icon>
          </span>
          <mat-label>&emsp;Password</mat-label>
          <input matInput placeholder="Key in your Username here" value="">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <span matPrefix>
            <mat-icon>confirmation_number</mat-icon>
            </span>
            <mat-label>&emsp;Confirm-Password</mat-label>
            <input matInput placeholder="Key in your Password here" value="">
          </mat-form-field>
      </form>
      <br>
      <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button color="basic" routerLink="../login">
        <mat-icon>login</mat-icon>&nbsp;
        Submit</button>
      </div>
      <br>

      <div fxLayout="row wrap" fxLayoutAlign="space-between center">
        <button mat-button routerLink="../forgetpwd">
            <mat-icon>assignment_return</mat-icon>
        Back</button>
      
        <button mat-button routerLink="../newuser">
            <mat-icon>assignment_ind</mat-icon>
            New User</button>
      </div>
      <br>
    </mat-card>
    </div>

</div>