<h1>Dashboard</h1>
<br>
<mat-toolbar class="card_bg_img" color="accent">

</mat-toolbar>

<div fxLayout="row wrap" fxLayoutGap="10px" class="status_content">

    <div fxLayout="column">
        <span>Overall</span>
        <h2><b>$21.127.00</b></h2>
    </div>

    <mat-divider vertical style="border: 1px solid white;"></mat-divider>

    <div fxLayout="column">
        <span>Overall</span>
        <h2><b>$21.127.00</b></h2>
    </div>

    <mat-divider vertical style="border: 1px solid white;"></mat-divider>

    <div fxLayout="column">
        <span>Overall</span>
        <h2><b>$21.127.00</b></h2>
    </div>

    <mat-divider vertical style="border: 1px solid white;"></mat-divider>

    <div fxLayout="column">
        <span>Overall</span>
        <h2><b>$21.127.00</b></h2>
    </div>

</div>
<br>
<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="16px grid">

    <div fxLayout="column">
        <mat-card class="first_card">

            <div fxLayout="column">

                <div fxLayout="row" fxLayoutAlign="space-between stretch">
                    <b>Walenteer</b>
                    <h2><b>VISA</b></h2>
                </div>
                <br>
                <div fxLayout="row">
                    <h1>3453 4262 7310 3728</h1>
                </div>
                <br>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxLayout="column">
                        <span>Card Holder Name</span>
                        <b>Milky Taylor</b>
                    </div>
                    <div fxLayout="column">
                        <span>Expire Date</span>
                        <b>02/30</b>
                    </div>
                </div>

            </div>

        </mat-card>
    </div>

    <div fxLayout="column">
        <mat-card class="second_card">

            <div fxLayout="column">

                <div fxLayout="row" fxLayoutAlign="space-between stretch">
                    <b>Walenteer</b>
                    <h2><b>VISA</b></h2>
                </div>
                <br>
                <div fxLayout="row">
                    <h1>3453 4262 7310 3728</h1>
                </div>
                <br>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxLayout="column">
                        <span>Card Holder Name</span>
                        <b>Milky Taylor</b>
                    </div>
                    <div fxLayout="column">
                        <span>Expire Date</span>
                        <b>02/30</b>
                    </div>
                </div>

            </div>

        </mat-card>
    </div>

    <div fxLayout="column">
        <mat-card class="third_card">

            <div fxLayout="column">

                <div fxLayout="row" fxLayoutAlign="space-between stretch">
                    <b>Walenteer</b>
                    <h2><b>VISA</b></h2>
                </div>
                <br>
                <div fxLayout="row">
                    <h1>3453 4262 7310 3728</h1>
                </div>
                <br>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxLayout="column">
                        <span>Card Holder Name</span>
                        <b>Milky Taylor</b>
                    </div>
                    <div fxLayout="column">
                        <span>Expire Date</span>
                        <b>02/30</b>
                    </div>
                </div>

            </div>

        </mat-card>
    </div>

</div>
<br>
<div fxLayout="row wrap" fxLayoutGap="10px grid">

    <div fxLayout="column" fxFlex="75%" fxFlex.xs="100%">
        <h1>Most Performing Campaigns</h1>
        <p>The Ads Manager</p>

        <div fxLayout="row wrap" fxLayoutGap="20px grid">
            <div>
                <mat-card class="ads_card">
                    <div fxLayout="column" fxLayoutAlign="center center">
                        <mat-card style="background: rgb(20, 255, 243);border-radius: 15px;">
                            <mat-icon class="ads_icon">account_balance_wallet</mat-icon>
                        </mat-card>
                        <span>This Week</span>
                        <h2><b>3.45K</b></h2>
                        <span>+6.4%</span>
                    </div>
                </mat-card>
            </div>

            <div>
                <mat-card class="ads_card">
                    <div fxLayout="column" fxLayoutAlign="center center">
                        <mat-card style="background: grey;border-radius: 15px;">
                            <mat-icon class="ads_icon">account_balance_wallet</mat-icon>
                        </mat-card>
                        <span>This Week</span>
                        <h2><b>3.45K</b></h2>
                        <span>+6.4%</span>
                    </div>
                </mat-card>
            </div>

            <div>
                <mat-card class="ads_card">
                    <div fxLayout="column" fxLayoutAlign="center center">
                        <mat-card style="background: violet;border-radius: 15px;">
                            <mat-icon class="ads_icon">account_balance_wallet</mat-icon>
                        </mat-card>
                        <span>This Week</span>
                        <h2><b>3.45K</b></h2>
                        <span>+6.4%</span>
                    </div>
                </mat-card>
            </div>

            <div>
                <mat-card class="ads_card">
                    <div fxLayout="column" fxLayoutAlign="center center">
                        <mat-card style="background: green;border-radius: 15px;">
                            <mat-icon class="ads_icon">account_balance_wallet</mat-icon>
                        </mat-card>
                        <span>This Week</span>
                        <h2><b>3.45K</b></h2>
                        <span>+6.4%</span>
                    </div>
                </mat-card>
            </div>

            <div>
                <mat-card class="ads_card">
                    <div fxLayout="column" fxLayoutAlign="center center">
                        <mat-card style="background: blue;border-radius: 15px;">
                            <mat-icon class="ads_icon">account_balance_wallet</mat-icon>
                        </mat-card>
                        <span>This Week</span>
                        <h2><b>3.45K</b></h2>
                        <span>+6.4%</span>
                    </div>
                </mat-card>
            </div>
        </div>
        <br>
        <mat-card class="banner_card">
            <br>
            <div fxLayout="row" fxLayoutAlign="space-between">
        
                <div fxLayout="column">
                    <h2><b>15.980</b></h2>
                    <p>Orders</p>
                </div>
        
                <mat-divider vertical style="border: 1px solid rgb(161, 161, 161);"></mat-divider>
        
                <div fxLayout="column">
                    <h2><b>4.324</b></h2>
                    <p>Returns</p>
                </div>
        
            </div>
            <br>
        </mat-card>

    </div>

    <div fxLayout="column" fxFlex="25%" fxFlex.xs="100%">
        <h1>Quick Actions</h1>
        <p>Do Something Quickly</p>

        <div fxLayout="row wrap" fxLayoutGap="10px grid" fxLayoutAlign="space-between">

            <div>
                <mat-card class="action_card">
                    <div fxLayout="column" fxLayoutAlign="center center">
                        <mat-icon class="action_icon" style="color: rgb(20, 255, 243);">account_balance_wallet
                        </mat-icon>
                        <b>Account & Card</b>
                    </div>
                </mat-card>
            </div>

            <div>
                <mat-card class="action_card">
                    <div fxLayout="column" fxLayoutAlign="center center">
                        <mat-icon class="action_icon" color="primary">account_balance_wallet</mat-icon>
                        <b>Account & Card</b>
                    </div>
                </mat-card>
            </div>

            <div>
                <mat-card class="action_card">
                    <div fxLayout="column" fxLayoutAlign="center center">
                        <mat-icon class="action_icon" color="accent">account_balance_wallet</mat-icon>
                        <b>Account & Card</b>
                    </div>
                </mat-card>
            </div>

            <div>
                <mat-card class="action_card">
                    <div fxLayout="column" fxLayoutAlign="center center">
                        <mat-icon class="action_icon" style="color: green;">account_balance_wallet</mat-icon>
                        <b>Account & Card</b>
                    </div>
                </mat-card>
            </div>

            <div>
                <mat-card class="action_card">
                    <div fxLayout="column" fxLayoutAlign="center center">
                        <mat-icon class="action_icon" style="color: blue;">account_balance_wallet</mat-icon>
                        <b>Account & Card</b>
                    </div>
                </mat-card>
            </div>

            <div>
                <mat-card class="action_card">
                    <div fxLayout="column" fxLayoutAlign="center center">
                        <mat-icon class="action_icon" style="color: grey;">account_balance_wallet</mat-icon>
                        <b>Account & Card</b>
                    </div>
                </mat-card>
            </div>

            <div>
                <mat-card class="action_card">
                    <div fxLayout="column" fxLayoutAlign="center center">
                        <mat-icon class="action_icon" style="color: darkorchid;">account_balance_wallet</mat-icon>
                        <b>Account & Card</b>
                    </div>
                </mat-card>
            </div>

        </div>
    </div>

</div>